/* ------------------------------------------------------------------
		MOBILE
------------------------------------------------------------------ */
body {
	font-family: 'Futura Book';
}
body .menu-bg {
	display: none;
}
body #menu-main-menu {
	display: none;
}
body.menu-active #menu-main-menu {
	display: block;
}
body.menu-active .mobile-menu { 
	display: none;
}
body.menu-active .mobile-menu-exit { 
	display: block;
}
body .mobile-menu-exit {
	display: none;
}
h1 {
	font-size: 1.6em;
    font-weight: 500;
    font-style: normal;
	color: $jh-dark;
	font-family: 'Futura Medium';
}
main p {
	font-family: 'Futura Book';
    font-weight: normal;
    font-style: normal;
	line-height: 26px;
	font-size: 1em;
}
header {
	background-color: #FFF;
	position: relative;
	height: 100px;
	width: 100%;
	line-height: 60px;
	position: fixed;
	text-align: center;
	z-index: 5;
}
body .shop-menu {
	display: none;
}
body.menu-active .shop-menu {
	display: block;
}
.shop-menu {
	position: fixed;
    right: 52px;
    top: 130px;
    z-index: 100;
}
.if-items i {
	color: forestgreen;
}
#menu-main-menu {
	position: relative;
	z-index: 2;
}
nav ul {
	list-style-type: none;
	padding: 0;
	padding-top: 200px;

	li {
		font-family: 'Futura Book';
	    font-weight: normal;
	    font-style: normal;
    	font-size: 1.4em;
    	line-height: 60px;
    	font-weight: 500;

    	a {
    		text-transform: lowercase;
    	}

    	&:last-child a {
			color: $jh-details;
			border: 2px solid $jh-details;
			padding: 4px 8px;
		}
	}
	.current-menu-item a {
		border-bottom: 2px solid $jh-details;
	}
	a:hover {
		text-decoration: none;
		border-bottom: 2px solid $jh-details;
	}
}
.mobile-logo-jh {
	display: block;
}
.desktop-logo-jh {
	display: none;
}
.logo {
	width: 130px;
	position: absolute;
	top: 30px;
	left: 50%; 
	transform: translate(-50%,0); 
}
.container-header-carousel {
	margin-bottom: 100px;
}
.carousel-box {
	height: 440px;
	min-height: 440px;
	display: table;
	overflow: hidden;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.logo-friends {
	width: 70%;
	padding: 10px;
	display: block;
	margin: 0 auto;
	transition: all .5s ease-in-out;

	&:hover {
		transform: scale(1.1);
	}
}
.mobile-menu, .mobile-menu-exit {
	position: absolute;
	right: 40px;
    top: 30px;
    z-index: 3;
}
.menu-bg {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
main {
	padding-top: 200px;
	margin-bottom: 100px;
}
.txt-content {
	margin-bottom: 100px;
}
.feature-img {
	width: 100%;
	padding-top: 90%;
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.social-media {
	position: absolute;
	bottom: -60px;
}
footer {
	height: 350px;
	background-color: #fcd8c2;
	font-family: 'Futura Book';
	font-size: 0.8em;
	padding-top: 50px;
	position: relative;

	p, a, a:hover {
		color: #FFF;
	}

	.right {
		float: none;
	}
}